/* !!DO_NOT_EDIT!! */

html, body
{
	margin: 0;
	width: 100%;
	height: auto;
	overflow-x: hidden;
        color: #333;
}

/* Header */

header
{
	float: left;
	height: auto;
	width: 100%;
	text-align: center;
	letter-spacing: 0.1em;
	line-height: 60px;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	background-color: #3F4445;
	color: #FFF;
	position: fixed;
	top: 0px;
	z-index: 80;
}

header h1 
{
    line-height: 60px;
    font-weight: bold;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

._ielm_sub_header
{
	display: none;
}

/* Content */

#content
{
	width: 100%;
	height: auto;
	float: left;
}

#_ielm_module_content
{
	width: 95%;
	height: auto;
	margin-top: 70px;
	margin-bottom: 50px;
	float: left;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.main{
    margin-top: 25px;
    margin-bottom: 10px;
	float: left;
	width: 100%;
	height: auto;
}

.__navi a {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #4D4D4D;
    display: inline-block;
    color: #FFF;
    margin-bottom: 15px;
    border-bottom: solid 5px #2288FF;
    text-decoration: none;
    font-weight: bold;
}

.__navi a:hover {
    background-color: #2288FF;
    border-bottom: solid 5px #4D4D4D;
}

._inhalt
{
	float: left;
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
	margin-left: 0%;
}

/* Auswertung + Schritt-Navigation - Wrapper */

._ielm_controls {
    float: left;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 40px;
    z-index: 80;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #2288FF;
    text-align: center;
}

/* Footer */

footer
{
	float: left;
	width: 100%;
	text-align: center;
	background-color: #333738;
	color: #FFF;
	position: fixed;
	bottom: 0px;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #2288FF;
	z-index: 80;
}
footer a
{
	text-decoration: none;
	color: #FFF;
	letter-spacing: 0.1em;
	font-size: 16px;
	line-height: 40px;
}
footer a:visited, footer a:link
{
	color: #FFF;
}

/* Schrittnavigation */

._ielm_step_navigation {
	float: left;
	height: auto;
	width: 100%;
	background-color: #E6E6E6;
	padding-top: 0px;
	padding-right: 1%;
	padding-bottom: 15px;
	padding-left: 1%;
	color: #333;
}

._ielm_step_navigation button, ._ielm_common_infobox button {
	background-color: #BEBEBE;
	border: none;
	color: #FFF;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	height: 40px;
}

._ielm_step_navigation input {
	width: 100px;
	height: 40px;
	font-weight: 700;
}

._ielm_step_navigation input:focus {
	background-color: #FFF;
}

._ielm_step_navigation button:hover, ._ielm_step_navigation button:focus, ._ielm_step_navigation button:active, ._ielm_common_infobox button:hover, ._ielm_common_infobox button:focus, ._ielm_common_infobox button:active {
	background-color: #2288FF;
	color: #FFF;	
}

._ielm_step_navigation button.set-step, ._ielm_step_navigation button.set-step:hover, ._ielm_step_navigation button.set-step:focus, ._ielm_step_navigation button.set-step:active {
	background-color: #2288FF;
	color: #FFF;	
	opacity: 1;
}

#play-icon {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.btn-group {
	margin-right: 10px;
	margin-left: 10px;	
	padding-top: 15px;
}

.label {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	white-space:nowrap;
        font-weight: 400;
}

@media all and (max-width: 1050px) {
    .label {
            white-space:normal;
    }
}

.label-info, .btn-info {
    background-color: #2288FF;
}


._ielm_step_navigation_info {
	padding: 5px;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 10px;
}

/* Auswertung */

#_ielm_results {
	float: left;
	height: auto;
	width: 100%;
	background-color: #F2F2F2;
	cursor: pointer;
}
#_ielm_results h2 {
	padding: 0px;
	float: left;
	background-color: #2288FF;
	color: #FFF;
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 700;
	margin: 0px;
	line-height: 33px;
	letter-spacing: 0.1em;
}

#_ielm_results_content {
	float: left;
	height: auto;
	width: 100%;
	background-color: #F2F2F2;
	padding: 10px;
}

._ielm_show_results {
    cursor: pointer;
    float: left;
    margin-bottom: 0px;
    clear: both;
}

#_ielm_success_rate_short {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
}

#_ielm_error_rate_short {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;  
}


/* Info-Boxen */

._ielm_common_infobox {
	padding: 0px;
	float: left;
	height: auto;
	width: 100%;
	background-color: #E6E6E6;
	margin-bottom: 10px;
	cursor: pointer;
        position: relative;
        z-index: 50;
}

._ielm_common_infobox h2 {
	background-color: #2288FF;
	color: #FFF;
	margin: 0px;
	padding: 5px;
	float: left;
	height: auto;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.1em;
	position: relative;
	top: 0px;
}

._ielm_close_info_box {
	color: #FFF;
	background-color: #2288FF;
	height: auto;
	width: auto;
	position: absolute;
	top: 0px;
	right: 0px;	
	padding: 5px;
	font-size: 18px;
	z-index: 55;
}

._ielm_info_box_content {
	padding: 5px;
	padding-bottom: 0px !important;
	float: left;
	height: auto;
	width: 100%;
	position: relative;
	top: 0px;
}

._ielm_info_box_content h3, ._ielm_info_box_content h4 {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #2288FF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	letter-spacing: 0.1em;
}

._ielm_info_box_content h4 {
	font-size: 14px;
}

._ielm_info_box_content p {
	font-weight: 700;
}

._ielm_info_box_content .btn-group {
    padding-top: 0px;
}

._ielm_info_box_content input {
    float: left;
    height: 30px;
    width: auto;
    padding: 5px;
}

._ielm_info_box_content button {
    float: left;
    height: 30px;
    width: auto;
    padding: 5px;
}

._ielm_infobox_row {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

._ielm_infobox_row p {
    margin: 0px;
    padding: 0px;
}

._ielm_box_col_3 {
	width: 22%;
	height: auto;
	float: left;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

._ielm_box_col_4 {
	width: 30%;
	height: auto;
	float: left;
	padding-left: 1.5%;
	padding-right: 1.5%;
}


/* Modale Pop-Up-Fenster */

.modal-body {
	color: #000;	
}

.modal-info-box {
	height: auto;
	width: 100%;	
}

.modal-info-box p {
	padding: 5px;
}


/*Inhaltsinterne Nav Grundlagen */

#sidebar {
    background-color: #4D4D4D;
    margin-top: 0px;
}

div._ielm_common_inside_content_navigation {
    counter-reset: cnt_h1;
}

div._ielm_common_inside_content_navigation h1 {
    counter-increment: cnt_h1;
    counter-reset: cnt_h2;
    font-size:2em;
}
div._ielm_common_inside_content_navigation h1:before {
    content: counter(cnt_h1)  ".\0000a0\0000a0";
}

div._ielm_common_inside_content_navigation h2 {
    counter-increment: cnt_h2;
    counter-reset: cnt_h3;
    font-size:1.5em;
}
div._ielm_common_inside_content_navigation h2:before {
    content: counter(cnt_h1) "." counter(cnt_h2)  ".\0000a0\0000a0";
}

div._ielm_common_inside_content_navigation h3 {
    counter-increment: cnt_h3;
}
div.grundlagen h3:before {
    content: counter(cnt_h1) "." counter(cnt_h2) "." counter(cnt_h3) ".\0000a0\0000a0";
}


div._ielm_common_inside_content_navigation section {
    top: auto;
    left: auto;
    width: auto;
    min-width: 100%;
    position: relative;
    box-shadow: none;
}

.fixed {
    position: fixed;
}
#sidebar {
    background-color: #4D4D4D;
    border-bottom-left-radius: 5px;
}
.nav li{
    display:none;
}
.nav:hover li{
    display:inline;
}
.nav li.active{
    display:inline;
}

.nav {
    right: 0px;
    top: 60px;
    z-index: 500;
}

.bs-docs-sidebar .nav>li>a {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 14px;
}

.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #FFFFFF;                 
    text-decoration: none;          
    background-color: #2288FF; 
}

.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}

.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
.nav {
    list-style: none;
    padding-left:0;
}
.nav a {
    text-decoration: none;
}
.nav>li {
    position: relative;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav li.active {
    display: inline;
}
.nav>li>a {
    position: relative;
    display: block;
}
.nav-stacked>li {
    float: none;
}

/*Szenarienexplorer */

.ui-widget-content {
    border: none;
}

.ui-dialog {
    padding: 0px;
}

.ui-widget-header { 
    background: none;
    background-color: #2288FF;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 0px;	
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    background-color: #2288FF;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 0px;
}

li._ielm_selectedfile, li._ielm_selectedfile a {
    background-color: #2288FF !important;
    color: #FFF;
}

._ielm_fileexplorer {
    position: absolute;
    width: 30%;
}

._ielm_fileexplorer h2, ._ielm_filedetails h2 {
    font-size: 24px;
}

._ielm_filetree {
    width: 100%;
    height: 300px;
    border: solid 2px #2288FF;
    background: #FFF;
    overflow: auto;
    padding: 5px;
}

._ielm_fileInfo {
    width: 350px;
    height: 300px;
    border: solid 2px #2288FF;
    background: #FFF;
    overflow: auto;
    padding: 5px;
}

._ielm_filedetails {
    left: 35%;
    width: 65%;
    position: relative;
}

._ielm_fileInfo table {
    border-collapse: collapse; 
}


._ielm_fileInfo table tr{
    border-bottom: 1px solid #2288FF;
}

UL._ielm_jqueryFileTree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
}

UL._ielm_jqueryFileTree LI {
    list-style: none;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
    cursor: pointer;
}

.ielm_fileinfo_value {
    margin-left:1em;
}

UL._ielm_jqueryFileTree A {
    text-decoration: none;
    display: block;
    padding-top: -5px;
    padding-left: 2px;
}

UL._ielm_jqueryFileTree A:hover,UL._ielm_jqueryFileTree A:active, UL._ielm_jqueryFileTree A:focus {
    background: #2288FF;
    color: #FFF;
}

._ielm_fileInfo span.error {
    color:red;
}

/* Core Styles */
._ielm_jqueryFileTree LI.directory { background: url(images/directory.png) left top no-repeat; }
._ielm_jqueryFileTree LI.expanded { background: url(images/folder_open.png) left top no-repeat; }
._ielm_jqueryFileTree LI.file { background: url(images/file.png) left top no-repeat; }
._ielm_jqueryFileTree LI.wait { background: url(images/spinner.gif) left top no-repeat; }
/* File Extensions*/
._ielm_jqueryFileTree LI.ext_3gp { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_afp { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_afpa { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_asp { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_aspx { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_avi { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_bat { background: url(images/application.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_bmp { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_c { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_cfm { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_cgi { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_com { background: url(images/application.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_cpp { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_css { background: url(images/css.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_doc { background: url(images/doc.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_exe { background: url(images/application.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_gif { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_fla { background: url(images/flash.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_h { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_htm { background: url(images/html.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_html { background: url(images/html.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_jar { background: url(images/java.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_jpg { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_jpeg { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_js { background: url(images/script.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_lasso { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_log { background: url(images/txt.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_m4p { background: url(images/music.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_mov { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_mp3 { background: url(images/music.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_mp4 { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_mpg { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_mpeg { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_ogg { background: url(images/music.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_pcx { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_pdf { background: url(images/pdf.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_php { background: url(images/php.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_png { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_ppt { background: url(images/ppt.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_psd { background: url(images/psd.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_pl { background: url(images/script.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_py { background: url(images/script.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_rb { background: url(images/ruby.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_rbx { background: url(images/ruby.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_rhtml { background: url(images/ruby.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_rpm { background: url(images/linux.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_ruby { background: url(images/ruby.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_sql { background: url(images/db.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_swf { background: url(images/flash.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_tif { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_tiff { background: url(images/picture.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_txt { background: url(images/txt.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_vb { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_wav { background: url(images/music.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_wmv { background: url(images/film.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_xls { background: url(images/xls.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_xml { background: url(images/code.png) left top no-repeat; }
._ielm_jqueryFileTree LI.ext_zip { background: url(images/zip.png) left top no-repeat; }
