/* Global menu layout */
.menu_velocity
{
  display:inline;
  color: grey;
  /* Zhu xin Su SS 2020
   CSS fix for velocity input: makes the input text visible again, because else
   bootstrap.css for the <select> element with font-size: inherit will be used */
  font-size: initial;
}
